.filter {
  &__container {
    height: auto;
    width: 100%;
    background-color: white;
    margin-bottom: 6.5rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    padding: $cardPadding;
    gap: 0.5rem;
    border-radius: 4px;
  }

  &__filters--container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__cancel--container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 4px;

    &--text {
      background-color: $filterTablets;
      color: $defaultFontColor;
      font-weight: 700;
      font-size: $mobileFontSize;
      padding: 0.5rem 0.5rem 0.33rem;
    }

    &--close {
      background-color: $defaultFontColor;
      padding: 0.5rem 0.5rem 0.2rem;
      border-radius: 0 4px 4px 0;
      pointer-events: none;

      &-img {
        pointer-events: none;
      }
    }
  }

  &__clear {
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: $listingDetailFont;
    font-size: $mobileFontSize;
    font-weight: 700;
  }
}
