* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: $defaultFontSize;
  font-family: "Spartan", sans-serif;
}

body {
  width: 100%;
}

.container {
  width: 85%;
  height: auto;
  margin: 0 auto;
  padding-top: 15vh;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-image: url("./../assets/images/bg-header-mobile.svg"),
    linear-gradient(to bottom, $defaultFontColor 0 20vh, $background 20vh 100%);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 20vh;
}

@include desktop {
  #root {
    background-image: url("./../assets/images/bg-header-desktop.svg"),
      linear-gradient(
        to bottom,
        $defaultFontColor 0 20vh,
        $background 20vh 100%
      );
  }
}
