.job__info {
    &--container {
        position: relative;
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 1fr;
        gap: 1rem;
        margin: 1rem 0;
    }

    &--listing-container {
        display: flex;
        gap: 2rem;
        max-width: 100%;
        align-items: center;
    }

    &--company {
        align-self: center;
        color: $defaultFontColor;
        font-weight: 700;
        font-size: 0.8rem;
    }

    &--extra {
        border-radius: 20px;
        padding: 5px 7px 3px;
        font-size: $mobileFontSize;

        &-container {
            display: flex;
            justify-content: space-between;
        }
    }

    &--new {
        background-color: $defaultFontColor;
        color: white;
        font-weight: 700;
    }

    &--featured {
        background-color: $veryDarkCyan;
        color: white;
        font-weight: 700;
        margin-left: 10px;
    }

    &--detail-container {
        display: flex;
        justify-content: flex-start;
        color: $listingDetailFont;
        gap: 0.5rem;
        & > p {
            font-size: $mobileFontSize;
            align-self: center;
        }
    }
}