.listings {
  &__container {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 3rem;
  }

  &__card {
    border-radius: 5px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    padding: $mobileCardPadding;
    background-color: white;
    position: relative;
    box-shadow: 5px 5px 20px -15px;
  }

  &__featured {
    border-left: 5px solid $defaultFontColor;
  }

  &__no-top-margin {
    margin-top: 0;
  }
}

@include desktop {
  .listings {
    &__container {
      margin-bottom: 5rem;
    }

    &__card {
      display: grid;
      grid-template-rows: 100%;
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem;
      padding: $desktopCardPadding;

      &--hr {
        display: none;
      }
    }
  }
}
