.listings {
  &__container {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 100%;
    margin-top: 10vh;
  }

  &__card {
    border-radius: 5px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    padding: $cardPadding;
    background-color: white;
    position: relative;
  }

  &__featured {
    border-left: 5px solid $defaultFontColor;
  }
}
